/*
new code
*/

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  cursor: pointer;
  outline: none;
  margin: 9px;
  border: none;
  border-radius: 19px;
}
.search:active {
  transform: translateY(3px);
  box-shadow: 0 5px #666;
}
.example-card {
  max-width: 400px;
}
.cardSectionContainer {
  display: inline-block;
  margin-left: 2rem;
}
.cardLayout {
  width: 17rem;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 5%;
  margin-bottom: 3%;
}
img {
  border-radius: 50%;
  border: 2px solid white;
}
.cityName {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardItemLayout {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 31%;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left: 27%;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
