<div class="heading">
  <h3>Weather App</h3>
</div>
<div class="container">
  <div>
    <input type="search" #city_name placeholder="Enter the name of the city" />

    <button type="submit" class="search" (click)="input(city_name.value)">
      Search
    </button>
  </div>
</div>
<h5 class="cityName">{{ query }}</h5>
<h5 class="cityName" *ngIf="showExceptionMessage">{{ exceptionMessage }}</h5>
<div class="cardSectionContainer" *ngFor="let d of fulldata">
  <div class="card .d-flex cardLayout" *ngIf="!showExceptionMessage">
    <div class="card-body cardItemLayout">
      <h5 class="card-title">{{ d.date }}</h5>
      <img
        src="{{ d.hourly[1].weatherIconUrl[0].value }}"
        class="card-img"
        alt="weather icon"
      />
      <h5>Temp in &#8451; : {{ d.avgtempC }}</h5>
      <h5>Temp in &#8457; : {{ d.avgtempF }}</h5>

      <p class="card-text">Sunrise:{{ d.astronomy[0].sunrise }}</p>
      <p class="card-text">Sunset: {{ d.astronomy[0].sunset }}</p>
    </div>
  </div>
</div>
