/*
new code
*/

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search {
  cursor: pointer;
  outline: none;
  margin: 9px;
  border: none;
  border-radius: 19px;
}
.search:active {
  transform: translateY(3px);
  box-shadow: 0 5px #666;
}
.example-card {
  max-width: 400px;
}
.cardSectionContainer {
  display: inline-block;
  margin-left: 2rem;
}
.cardLayout {
  width: 18rem;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 5%;
  margin-bottom: 3%;
}
img {
  border-radius: 50%;
  border: 2px solid white;
}
.cityName {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardItemLayout {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 31%;
}
